.highlights{
    .highlights-inner{
        padding-top: 20px;
        .item{
            width: 32%;
            margin-bottom: 30px;
            box-shadow: $box-shadow;
            border-radius: 10px;
            padding: 30px;
            cursor: pointer;
            transition: all 0.8s ease 0s;
            h3{
                font-weight: 300;
                font-family: $heading-font;
                margin-bottom: 0;
                font-size: 18px;
            }
            img{
                height: 220px;
                object-fit: contain;
                @media only screen and (max-width: 1024px) {
                    height: 196px;
                }
            }
            &:hover{
                transform: scale(1.05);
                box-shadow: 2px 2px 6px #222;
            }
            @media only screen and (max-width: 768px) {
                width: 48%;
            }
            @media only screen and (max-width: 600px) {
                width: 100%;
            }
        }
    }
}